################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeeksForGeeksProblems/obj/Debug
/GeeksForGeeksProblems/obj/Release
/GeeksForGeeksProblems/bin/Debug
/.vs/GeeksForGeeksProblems/v16
/.vs/ProgrammingChallenges/v16
/.vs
/ProgrammingChallenges.Tests/bin/Debug/net5.0
/ProgrammingChallenges.Tests/obj
/TestResults
